<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexLink</title>
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    <div class="header">
        <div class="headerLeft">
            <img src="" alt="img" class="logo">
            <p class="title">NexLink</p>
        </div>

        <div class="headerRight">
            <img src="" alt="img" class="logo">
            <p><%=username%></p>
        </div>
    </div>

    
    <div class="content">
        <div class="content-container">
            <div class="head">
                <img src="" alt="pfp" class="pfp">
                <p>username</p>
            </div>
            <div class="post-b">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.

                </p>
            </div>
            <div class="media">
                <video controls>
                    <source src="">
                </video>
            </div>
            <div class="likes-and-count">
                <p class="likes-text">5 likes</p>
                <p>50 comments</p>
                <p>10 reposts</p>
            </div>
            <div class="features">
                <button class="like">like</button>
                <button class="share">share</button>
                <button class="comment">comment</button>
                <button class="repost">repost</button>
            </div>
            <div class="comment-box">
                <div class="c-head">
                    <img src="" alt="pfp" class="pfp">
                    <p>Username</p>
                </div>
                <div class="c-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
                </div>
            </div>
        </div>
    </div>
    
    
    <script src="/js/function.js"></script>
</body>
</html>