<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexLink</title>
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    <div class="header">
        <div class="headerLeft">
            <img src="" alt="img" class="logo">
            <p class="title">NexLink</p>
        </div>

        <div class="headerRight">
            <img src="" alt="img" class="logo">
            <p><%=username%></p>
        </div>
    </div>
    
    
</body>
</html>