body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginpanel{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
    height: 350px;
    width: 400px;
    border-radius: 8px;
}

.form-h{
    text-align: center;
}

.form-b{
    width: 300px;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#username{
    display:block;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    padding-right: 30px;
    font-size: 14px;
}
#password{
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    padding-right: 30px;
    font-size: 14px;
}

.form-s{
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: rgb(71, 136, 235);
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: transform 0.1s;
}

.form-s:hover{
    background-color: rgb(33, 90, 202);
}
.form-s:active{
    transform: scale(0.98);
}